

.quiz-container {
    height: 550px;
    width: 250px;
    background: white;
    border-radius: 25px;
    margin-top: 100px;
    padding: 0px 60px;
    text-align: center;
    
}

.quiz-container .active-question-no {
    font-size: 32px;
    font-weight: 500;
    color: #3700ff;
}

.quiz-container .total-question {
    font-size: 16px;
    font-weight: 500;
    color: #e0dee3;
}

.quiz-container h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.quiz-container ul {
    margin-top: 20px;
    margin-left: -40px;
}

.quiz-container ul li {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
}

.quiz-container ul .selected-answer {
    background: #AF9CF3;
    border: 1px solid #3601f5;
}

.quiz-container button {
    background: #FF3B3C;
    border-radius: 60px;
    font-size: 18px;
    color: #000000;
    padding: 10px 42px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    width: 250px;
}

.quiz-container button:disabled {
    background: #e7e8e9;
    color: #9fa3a9;
    cursor: not-allowed;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}