@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Anek Malayalam', sans-serif;
    height: 1000px;
    background-color: #AF9CF3;
    /* background-image: url("../images/background.jpg");  */
    color: #11052c;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-right: 20px 20px;
}

.result-container {
    /* max-width: 500px;
    min-width: 250px;
    background: white;
    border-radius: 4px;
    margin-top: 35px;
    padding: 10px 40px;
    text-align: center; */
    height: 550px;
        width: 250px;
        background: white;
        border-radius: 25px;
        margin-top: 100px;
        padding: 0px 60px;
        text-align: center;
}

.result-container h2 {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
}

.result-container ul {
    margin-top: 25px;
    margin-left: -40px;
}

.result-container ul li {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
}

.button {
    background: #FF3B3C;
        border-radius: 60px;
        font-size: 18px;
        color: #000000;
        padding: 10px 42px;
        outline: none;
        border: none;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 250px;
}